body {
  padding-top: 70px;
  padding-bottom: 30px;
  background: #aaaebc;
  background-image: url("../img/intro.svg") !important;
  background-size: 100%;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.cuerpo {
  min-height: 200px;
}

table thead th {
  background: #a3baff;
  /*color: #ffffff;*/
}

table tfoot th {
  background: #a3baff;
  /*color: #ffffff;*/
}

ul.errorlist {
  border-left: 4px solid red !important;
  border: ridge 1px #ff5100;
  background: #ffafaf;
  border-radius: 3px;
  list-style: none outside none;
}

.alert.alert-success {
  border-left: 4px solid green !important;
}

#id_organizacion {
  min-width: 0;
  width: 100%;
  display: inline;
}

.form-control {
  margin-bottom: 25px !important;
}

.dt-buttons {
  margin-top: 40px;
}

.navbar.navbar-default {
  background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  /*-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);*/
  /*box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);*/
}

.navbar-cintillo {
  background: #275a9b !important;
  border-radius: 0px !important;
  border: none;
  -webkit-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
}

.well {
  background: #FFFFFF;
  border: none !important;
  border-radius: 0px !important;
  -webkit-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
}

.well-footer {
  background: #275a9b;
  border-radius: 0px !important;
}

.well-footer a{
  color: #FFFFFF;
}

.banner_principal {
  -webkit-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
}
/*
.glyphicon.glyphicon-pencil {
  font-size: 20px;
}
.glyphicon.glyphicon-trash {
  font-size: 20px;
}
.glyphicon.glyphicon-search {
  font-size: 20px;
}
*/

.well-form {
  background: #eee;
}

.jumbotron {
  background: #d9edf7;
  border-radius: 0px !important;
  -webkit-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
}

/* Navbar inverse */

.navbar-inverse {
  background-color: #275a9b;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
}
.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: gray;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #FFFFFF;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #9d9d9d;
}
.navbar-inverse .navbar-link:hover {
  color: #fff;
}
.navbar-inverse .btn-link {
  color: #9d9d9d;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #fff;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}

.panel-default > .panel-heading {
  /*color: #FFFFFF;
  background-color: #275a9b;*/
  border-color: #ddd;
}

.col-sm-3 {
  border: ridge 1px lightgray;
}

.tabla_trabajadores, th, td {
  border: 1px solid lightgray;
}
.tabla_trabajadores th{
  padding: 15px;
  text-align: center;
  background-color: #d9edf7;
  color: #31708f;
}
.tabla_trabajadores td {
  padding: 10px;
}

#id_autor {
  display: none;
}

#id_fecha_registro_reporte {
  display: none;
}

.reg {
  background: #b9ffb9;
}
.del {
  background: #ffbebe;
}
.bit_usuario {
  background: #f0f0f0;
}
.bit_fecha {
  background: #f0f0f0;
}