{% extends "base/base.html" %}
{% block titulo %}Bitácora{% endblock %}
{% block cuerpo %}
{% load staticfiles %}
<br />
<h1>Lista de eventos de la Bitácora</h1>
<br />

<table border="1px" id="examplee" class="display" cellspacing="0px" style="width:100%;">
  <thead>
    <tr>
      <th>N</th>
      <th>Usuario</th>
      <th>Evento</th>
      <th>Fecha y hora</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>N</th>
      <th>Usuario</th>
      <th>Evento</th>
      <th>Fecha y hora</th>
    </tr>
  </tfoot>
  <tbody>
  {% for x in object_list %}
  <tr>
    <td class="bit_usuario">{{ x.id }}</td>
    <td class="bit_usuario">{{ x.usuario }}</td>
    {% if x.accion == "Registro un Reporte" %}
      <td class="reg">Registro un Reporte</td>
    {% else %}
      <td class="del">Elimino un Reporte</td>
    {% endif %}
    <td class="bit_fecha">{{ x.fecha }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}