{% extends "base/base.html" %}
{% block titulo %}Borrar Reporte{% endblock %}
{% block cuerpo %}
<br />
<form method="post">{% csrf_token %}
  <h4>
    ¿Estás seguro que quieres eliminar el reporte de: <b>{{ object.nombre_proyecto }} de {{ object.mes }} del {{ object.ano }}</b>?
  </h4>
  <br />
  <br />
  <a href="/consultar_reporte"><button type="button" class="btn btn-primary">Volver</button></a>
  <button class="btn btn-danger" type="submit">Borrar</button>
</form>
{% endblock %}
