{% extends "base/base.html" %}
{% block titulo %}Registrar Reporte{% endblock %}
{% block cuerpo %}
<br />
<h1>Registrar Reporte</h1>
<br />

<form method="post">{% csrf_token %}
   
  <input id="id_autor" name="autor" required="True" type="text" value="{{ user.username }}" />

  {{ form.fecha_registro_reporte }}

  <div class="">
    <b>{{ form.nombre_proyecto.label }}</b>
    <br />
    {{ form.nombre_proyecto }}
    {% if form.nombre_proyecto.errors %}
      <p>{{ form.nombre_proyecto.errors}}</p>
    {% endif %}
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="">
        <b>{{ form.nombre_caravisible.label }}</b>
        <br />
        {{ form.nombre_caravisible }}
        {% if form.nombre_caravisible.errors %}
          <p>{{ form.nombre_caravisible.errors}}</p>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <b>{{ form.nombre_director.label }}</b>
        <br />
        {{ form.nombre_director }}
        {% if form.nombre_director.errors %}
          <p>{{ form.nombre_director.errors}}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="">
        <b>{{ form.mes.label }}</b>
        <br />
        {{ form.mes }}
        {% if form.mes.errors %}
          <p>{{ form.mes.errors}}</p>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <b>{{ form.ano.label }}</b>
        <br />
        {{ form.ano }}
        {% if form.ano.errors %}
          <p>{{ form.ano.errors}}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="">
    <b>{{ form.desc_avance.label }}</b>
    <br />
    {{ form.desc_avance }}
    {% if form.desc_avance.errors %}
      <p>{{ form.desc_avance.errors}}</p>
    {% endif %}
  </div>

  <div class="">
    <b>{{ form.obstaculos.label }}</b>
    <br />
    {{ form.obstaculos }}
    {% if form.obstaculos.errors %}
      <p>{{ form.obstaculos.errors}}</p>
    {% endif %}
  </div>

<br />

<h3>Integrantes del equipo</h3>

  <table class="tabla_trabajadores" border="1px" style="width:100%">
    <thead>
      <tr>
        <th><b>N</b></th>
        <th><b>Nombre del trabajador</b></th>
        <th><b>Cargo</b></th>
        <th><b>Actividades realizadas</b></th>
        <th><b>Enlaces de verificación</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>
          {{ form.nombre_trab_1 }}
          {% if form.nombre_trab_1.errors %}
            <p>{{ form.nombre_trab_1.errors}}</p>
          {% endif %}
        </td>
        <td>
          {{ form.cargo_trab_1 }}
          {% if form.cargo_trab_1.errors %}
            <p>{{ form.cargo_trab_1.errors}}</p>
          {% endif %}
        </td>
        <td>
          {{ form.act_rea_trab_1 }}
          {% if form.act_rea_trab_1.errors %}
            <p>{{ form.act_rea_trab_1.errors}}</p>
          {% endif %}
        </td>
        <td>
          {{ form.enlaces_trab_1 }}
          {% if form.enlaces_trab_1.errors %}
            <p>{{ form.enlaces_trab_1.errors}}</p>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          {{ form.nombre_trab_2 }}
          {% if form.nombre_trab_2.errors %}
            <p>{{ form.nombre_trab_2.errors}}</p>
          {% endif %}
        </td>
        <td>
          {{ form.cargo_trab_2 }}
          {% if form.cargo_trab_2.errors %}
            <p>{{ form.cargo_trab_2.errors}}</p>
          {% endif %}
        </td>
        <td>
          {{ form.act_rea_trab_2 }}
          {% if form.act_rea_trab_2.errors %}
            <p>{{ form.act_rea_trab_2.errors}}</p>
          {% endif %}
        </td>
        <td>
          {{ form.enlaces_trab_2 }}
          {% if form.enlaces_trab_2.errors %}
            <p>{{ form.enlaces_trab_2.errors}}</p>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>
          {{ form.nombre_trab_3 }}
          {% if form.nombre_trab_3.errors %}
            <p>{{ form.nombre_trab_3.errors}}</p>
          {% endif %}
        </td>
        <td>
          {{ form.cargo_trab_3 }}
          {% if form.cargo_trab_3.errors %}
            <p>{{ form.cargo_trab_3.errors}}</p>
          {% endif %}
        </td>
        <td>
          {{ form.act_rea_trab_3 }}
          {% if form.act_rea_trab_3.errors %}
            <p>{{ form.act_rea_trab_3.errors}}</p>
          {% endif %}
        </td>
        <td>
          {{ form.enlaces_trab_3 }}
          {% if form.enlaces_trab_3.errors %}
            <p>{{ form.enlaces_trab_3.errors}}</p>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <a href="{% url 'registro:index' %}"><button type="button" class="btn btn-primary">Volver</button></a>
  <button class="btn btn-info" type="reset">Limpiar</button>
  <button class="btn btn-success" type="submit">Registrar</button>
</form>
{% endblock %}
