<table border="1px" id="example" class="display" cellspacing="0px" style="width:100%;">
  <thead>
    <tr>
      <th>N</th>
      <th>Nombre del Proyecto</th>
      <th>Nombre del Cara Visible</th>
      <th>Mes</th>
      <th>Año</th>
      <th>Registrado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>N</th>
      <th>Nombre del Proyecto</th>
      <th>Nombre del Cara Visible</th>
      <th>Mes</th>
      <th>Año</th>
      <th>Registrado</th>
      <th>Acciones</th>
    </tr>
  </tfoot>
  <tbody>
  {% for x in object_list %}
  <tr>
    <td></td>
    <td>{{ x.nombre_proyecto }}</td>
    <td>{{ x.nombre_caravisible }}</td>
    <td>{{ x.mes }}</td>
    <td>{{ x.ano }}</td>
    <td>{{ x.fecha_registro_reporte }}</td>
    {% if x.autor == user.username %}
      <td>
        <a href="{% url 'registro:editar_reporte' x.id %}"><i class="glyphicon glyphicon-pencil"></i></a>
        &nbsp; | &nbsp;
        <a href="{% url 'registro:detallar_reporte' x.id %}"><i class="glyphicon glyphicon-eye-open"></i></a>
        &nbsp; | &nbsp;
        <a href="{% url 'registro:borrar_reporte' x.id %}"><i class="glyphicon glyphicon-trash"></i></a>
      </td>
    {% else %}
      <td>
        <a href="{% url 'registro:detallar_reporte' x.id %}"><i class="glyphicon glyphicon-eye-open"></i></a>
      </td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>